.card {
    width: 30%;
    height: 100%;
    background-color: #fff;

    -webkit-box-shadow: 1px 4px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 8px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 8px -3px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.card>p {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
}