html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header>div>img {
    width: 200px;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #000;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.logo {
    font-size: 25px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.menu-items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu-item {
    font-size: 16px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 300;
}

.banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url('../../images/events-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.banner-content>h1 {
    padding: 40px;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 400;
}

.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.events-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.events-category>h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.event-items {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.event-item {
    width: 220px;
    height: 140px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 4px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 10px -3px rgba(0, 0, 0, 0.75);
}