.main-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.main-content-header>button {
    width: 200px;
    height: 35px;
    background-color: black;
    font-size: 13px;
    font-family: 'Poppins';
    border-radius: 7px;
    border: none;
    color: #fff
}